$desktop: 1200px;
$prime-color:#0E8784;
$button-default:#0E8784;
$button-hovered: #66D2CF;
$button-disabled: #E2DEDB;
$prime2-color: #FDD6BA;
$prime3-color: #333D4B;
$prime4-color: #FEFCF7;
$prime5-color: #83888F;
$prime6-color: #2C343E;
$selection-default: #F4F1EB;
$smalltext-color: #FEFCF7;
$smalltext-size: 16px;
$smalltext-opacity: 0.8;
$smalltext-line-height: 26px;
$font-small: 'Barlow';
$font-big: 'Fraunces';
$h1-fontdamily: 'Fraunces'; 
$h1-fontsize: 40px; 
$h1-lineheight: 72px;
$h2-fontdamily: 'Fraunces'; 
$h2-fontsize: 40px; 
$h2-lineheight: 48px;
$h3-fontdamily: 'Fraunces'; 
$h3-fontsize: 32px; 
$h3-lineheight: 36px;
$h4-fontdamily: 'Fraunces'; 
$h4-fontsize: 24px; 
$h4-lineheight: 32px;