.footer-content{
    padding: 25px;
  background-color: $prime6-color;
  @include maincontent;
  align-items:center;
  padding-left: 85px;
  gap: 4em;
  position: relative;
   .footer_uls{
    @include innercontent;
    text-decoration: none;
    list-style: none;
    gap: 1em;
    font-size: 12px;
    font-family: $font-small;
    font-weight: 700;
    a{
        text-decoration: none;
        color:$prime5-color;
    }
   }
   
    .socialmedia{
        @include maincontent;
        gap: 1em;
        list-style: none;
        position: absolute;
        right: 100px;
    }
}
//cards
// .coffee{
//     @include maincontent;
//     flex-wrap: wrap;
//     gap: 2em;
 
    
//     .visually-hidden{
//       position: absolute;
//       width: 1px;
//       height: 1px;
//       margin: -1px;
//       border: 0;
//       padding: 0;
//       white-space: nowrap;
//       clip-path: inset(100%);
//       clip: rect(0 0 0 0);
//       overflow: hidden;
//   }  

//     input[type="radio"]:checked + .coffee__label  {
//         background-color: #0E8784;
//           color: #ffffff;
//     transition: 0.3s ease; 
//       }
//     &__label{
//         display: block;
//         border: 1px solid black;
//         width: 170px;
//         height: 170px;
//        border-radius: 8px;
//        padding: 25px;
//        line-height: 25px;
//        background-color: #F4F1EB;
//        border-style: none;
//        transition: 0.6s ease;
//          &:hover{
//           background-color: rgb(244, 180, 180);
//      }
//        h2{
//         font-size: xx-large;
//        }
//     }
   
// }