.footer-content{
    padding: 25px;
  background-color: $prime6-color;
  @include maincontent;
  align-items:center;
  padding-left: 85px;
  gap: 4em;
  position: relative;
   .footer_uls{
    @include innercontent;
    text-decoration: none;
    list-style: none;
    gap: 1em;
    font-size: 12px;
    font-family: $font-small;
    font-weight: 700;
    a{
        text-decoration: none;
        color:$prime5-color;
    }
   }
   
    .socialmedia{
        @include maincontent;
        gap: 1em;
        list-style: none;
        position: absolute;
        right: 100px;
    }
}