.coffee {
    padding-top: 25px;
    position: relative;

    &_navbar {
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        @include innercontent;

        #logo {
            padding-left: 0px;
        }

        .menu {
            @include innercontent;
            position: absolute;
            right: 0px;
            flex-wrap: nowrap;
            gap: 2em;
            font-size: 12px;
            font-family: $font-small;
            font-weight: 700;
            list-style: none;

            &__item {
                display: flex;

                .menu__link {
                    color: $prime5-color;
                    text-decoration: none;

                    &:hover {
                        color: #333D4B;
                        cursor: pointer;

                    }
                }
            }
        }
    }
}