.coffee_collection {
    @include columncontent;
    text-align: center;
   position: relative;
   align-items:center;
   margin: 100px auto;
    .big-font {
        @include h1-text;
        position: absolute;
        top: 500px;
        font-size: 150px;
        top: 0px;
        letter-spacing: 5px;
        background: -webkit-linear-gradient(180deg, #333 0%,#eee 120%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 0;
        white-space: nowrap;
        height: 100px
    }

    &_kopis {
        @include innercontent;
        // flex-wrap: nowrap;
        // gap: 0em;
        position: relative;
        top: 50px;
        left: 0px;
        z-index: 1;
        &_sort {
            @include columncontent;
            text-align: center;

            h4 {
                margin-bottom: 0;
                @include h4-text;
            }

            p {
                @include body;
            }
        }
    }
}