.coffee_collection {
    @include columncontent;
    text-align: center;

    // position: relative;
    .big-font {
        @include h1-text;
        font-size: 150px;
        top: 0px;
        letter-spacing: 5px;
        color: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &_kopis {
        @include innercontent;
        position: relative;
        // flex-wrap: nowrap;
        // gap: 0em;
        top: -150px;
        left: 90px;

        &_sort {
            @include columncontent;
            text-align: center;

            h4 {
                margin-bottom: 0;
                @include h4-text;
            }

            p {
                @include body;
            }
        }
    }
}