.coffee_made {
    @include maincontent;
    @media (max-width:$phone) {
        margin-top: 100px;
    }
    margin-top: 0px;

    &__text {
        @include columncontent;
        padding: 100px;
        position: absolute;
        z-index: 1;
        gap: 1em;

        .big-font {
            color: white;
            @include h1-text;
            font-weight: 900;
            margin: 0 auto;
        }

        p {
            color: $smalltext-color;
            @include body;
            opacity: 0.8;
            font-weight: 100;
        }

        .btn {
            @include button;
            margin-top: 51px;

            &:hover {
                @include buttonhover
            }
        }

    }

    &__bg {
        background-image: url(../images/Bitmap.png);
        @include img;
        width: 1280px;
        height: 600px;
        border-radius: 10px;
        position: relative;
        right: 0px;
    }
}