.example {

    .inner{
        background-color: aqua;
        width: 150px;
        height: 150px;
    
        &__box {
             width: 50px;
             height: 50px;
             background-color:black
            }
    }
    .enter{
        width: 200px;
        height: 200px;
        background-color:cyan;
    
     &__box{
        width: 100px;
        height: 100px;
        background-color: pink;
        color: red;
    }
   }
}