$desktop: 1440px;
// $desktop: 1200px;
$tablet: 834px;
$phone: 375px;
$greycolor-50: #F9FAFB;
$greycolor-100: #F3F4F6;
$greycolor-200: #E5E7EB;
$greycolor-300: #D1D5DB;
$greycolor-400: #9CA3AF;
$greycolor-500: #6B7280;
$greycolor-600: #4B5563;
$greycolor-700: #374151;
$greycolor-800: #1F2937;
$greycolor-900: #111827;

$primarycolor-50: #F0F5FF;
$primarycolor-100: #DCE9FE;
$primarycolor-200: #BED7FE;
$primarycolor-300: #91BCFD;
$primarycolor-400: #5F9DFB;
$primarycolor-500: #3784FB;
$primarycolor-600: #146FFA;
$primarycolor-700: #0562F0;
$primarycolor-800: #0451C8;
$primarycolor-900: #0441A0;

$prime-color-w: #FFFFFF;
$prime-color-dbl: #022964;
$prime-color-gr: #5FD788;
$prime-color-org: #FF8C39;
$prime-color-pnk: #EC6890;
$prime-color-prp: #B523FA;
$prime-color-yl: #FBAE05;

$h1-fontsize: 40px;
$fontfamily-black: 'SF Pro Display', black;
$h2-fontsize: 32px;
$fontfamily-bold: 'SF Pro Display', bold;
$fontfamily-or: 'SF Pro Display';
$fontfamily-reg: 'SF Pro Display', regular;
$fontfamily-xl: 'SF Pro Display', medium;
$fontfamily-l: 'SF Pro Display', semibold;
$fontfamily-r: 'SF Pro Rounded';

$h3-fontsize: 24px;
$h4-fontsize: 20px;
$h5-fontsize: 18px;
$h6-fontsize: 16px;
$h7-fontsize: 14px;
$h8-fontsize: 12px;

$font1: 'SF Pro Display', sans-serif;

$button-hovered: #66D2CF;
$button-disabled: #E2DEDB;
$prime2-color: #FDD6BA;
$selection-default: #F4F1EB;
$smalltext-color: #FEFCF7;
$smalltext-size: 16px;
$smalltext-opacity: 0.8;
$smalltext-line-height: 26px;
$font-small: 'Barlow';
$font-big: 'Fraunces';


$h2-lineheight: 48px;
$h3-lineheight: 36px;
$h4-lineheight: 32px;